{% extends "base.html" %}
{% load static %}


{% block content %}

<div class="container">
    <div class="row">
        <div class="col text-end">
            <p class="btn disabled">Events</p>
        </div>
        <div class="col text-start">
            <p><a href="{% url 'events:my_events' %}" class="btn">My Events</a></p>
        </div>
    </div>
    <!-- Tell user if there are no events -->
    {% if event_list %}   
        <div class="row">        
            <div class="section col-12 mt-1 left">
                <div class="row">
                    <h1 class="my-2 py-2">
                        All events
                    </h1>
                    {% for event in event_list %}
                    <div class="col-md-4">
                        <div class="event-card card mb-4 border-dark shadow">
                            <div class="card-body">
                                <div class="image-container">
                                    {% if "placeholder" in event.featured_image.url %}
                                    <img class="card-img-top" src="{% static 'images/event_default.webp' %}" alt="Event placeholder image">
                                    {% else %}
                                    <img class="card-img-top" src="{{ event.featured_image.url }}" alt="{{ event.title }}">
                                    {% endif %}
                                </div>
                                <div class="event-card-title">
                                    <a href="{% url 'events:event_detail' event.slug %}" class="event-link">
                                        <h3 class="card-title">{{ event.title|truncatewords:4 }}</h3>
                                    </a>
                                </div>
                                <hr>
                                <div class="event-card-details">
                                    <p class="card-text h6">
                                        <i class="fa-solid fa-calendar-days"></i> {{ event.date }}
                                    </p>
                                    <p class="card-text h6">
                                        <i class="fa-solid fa-location-dot"></i> {{ event.location }}
                                    </p>    
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    {% if forloop.counter|divisibleby:3 %}
                </div>
                <div class="row">
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo; PREV</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    {% else %}
        <div>
            <h1 class="my-2 py-2">
                All events
            </h1>
            <p class="text-muted">
                There are currently no events.
            </p>
        </div>
    {% endif %}
</div>

{% endblock content %}
